@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    padding: 64px;
    background: rgba(245, 245, 245, 1);
}

.titula {
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: center;
    animation: slogan 3s infinite;
}
@keyframes slogan {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
  
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }
    

.bebra {
    display: flex;
    flex-direction: column;

}
.g {
    margin-top: -24px;
}

.main3000 {
  display: flex;
  margin-top:64px;
  justify-content: center;
  gap:36px;
  flex-direction: column;
  align-items: center;
  
}

.div2000 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  
}


.div1001 {
  display: flex;
  gap:16px ;
  align-items: start;
}
.button1 {
  border-radius: 16px;
  border: none;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  color: rgba(26, 26, 26, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  background-color: transparent;
  cursor: pointer;
}

.acktive {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(26, 26, 26, 0.2);
}

.locked {
 opacity: 0.4;

}


.div1000 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.div1002 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.d105 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.p1 {
  color: rgba(26, 26, 26, 1);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;

}
.seconds {
  color: rgba(26, 26, 26, 1);
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;

}
.button0 {
  
}




